# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data
data/*.db
*.docx

# OS
.DS_Store
Thumbs.db

# Qdrant
qdrant_data/
